<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {{>header}}
    <div class="error-page">
      <p>Sorry :(</p>
    <p>The page you are looking for is not found.</p>
    </div>

  </body>
</html>