<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {{>header}}
    <div class="tasks-section">
      <input type="text" placeholder="enter your new task" name="task">
      <div class="tasks-list">
        <ul>
      {{#each tasks}}
        <li><span>{{this}}</span> <button class="check-btn">✓</button> <button class="delete-btn">X</button></li>
      {{/each}}
    </ul>
      </div>
    </div>
    <script src="/js/index.js"></script>

  </body>
</html>