

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{>header}}
  <div class="login-section">
  <form action="/loginauth" method="post">
    <input type="text" placeholder="Email" name="email" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Login</button>
    
  </form>
  {{#if message}}
  <p class="error-message">{{message}}</p>
  {{/if}}
  
</div>
    {{!-- <script src="/js/index.js"></script> --}}

  </body>
</html>