<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{>header}}
   <p>Hello <span class="user-details">{{userdetails.username}}</span>!</p>
   <img src="/img/{{userdetails.email}}.jpg" alt="Profile" width="200px" class="avatar-img">
   <p>Email : <span class="user-details">{{userdetails.email}}</span></p>
    <h3>Change Avatar</h3>
<form action="/avatarupload" method="post" enctype="multipart/form-data" class="avatar">
    <input type="file" placeholder="Avatar" name="avatar" required>
    <button type="submit">Upload</button>
</form> 
    <script src="/js/index.js"></script>

  </body>
</html>